streamlit
langchain
langchain-community
langchain-chroma
langchain-cohere
langchain-groq
langchain-core
langchain-huggingface
chromadb
sentence-transformers
python-dotenv
deep-translator
langdetect
PyPDF2
